.container.large {
  width: 80%;
}

.container.large #files .diff-table {
  table-layout: fixed;
}

.container.large .#files diff-table .line_numbers {
  width: 3%;
}

.container.large #files .diff-table .diff-line {
  width: 47%;
  overflow-x: scroll;
}

#octosplit {
  margin-left: 5px;
}

#octosplit-label {
  margin-left: 15px;
}

.new-number {
  border-left: 1px solid #ddd;
}
